<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">
</head>

<body>

<!--
	Upper Header Section
-->
<div th:replace="fragments/header :: upper_header" class="navbar navbar-inverse navbar-fixed-top">
</div>

<!--
Lower Header Section
-->
<div class="container">
    <div id="gototop"></div>
    <header th:replace="fragments/header :: lower_header" id="header">
    </header>

    <!--
    Navigation Bar Section
    -->
    <div th:replace="fragments/header :: navbar" class="navbar">
    </div>
    <!--
    Body Section
    -->
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li><a th:href="@{/index}">Home</a> <span class="divider">/</span></li>
                <li class="active">Check Out</li>
            </ul>
            <div class="well well-small">
                <h1>Check Out <small class="pull-right"> 2 Items are in the cart </small></h1>
                <hr class="soften"/>

                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Description</th>
                        <th> Ref.</th>
                        <th>Avail.</th>
                        <th>Unit price</th>
                        <th>Qty</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="lineItem : ${lineItems}">
                        <td><img width="100" th:src="@{/picture/{id}(id=${lineItem.productRepr.pictureIds[0]})}" alt=""></td>
                        <td>[[${lineItem.productRepr.name}]]<br>
                            Color : [[${lineItem.color}]]<br>
                            Model : [[${lineItem.material}]]
                        </td>
                        <td> -</td>
                        <td><span class="shopBtn"><span class="icon-ok"></span></span></td>
                        <td th:text="${lineItem.productRepr.price}">$50.00</td>
                        <td>
                            <input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons"
                                   size="16" type="text" th:value="${lineItem.qty}">
                            <div class="input-append">
                                <button class="btn btn-mini" type="button">-</button>
                                <button class="btn btn-mini" type="button"> +</button>
                                <button class="btn btn-mini btn-danger" type="button"><span class="icon-remove"></span>
                                </button>
                            </div>
                        </td>
                        <td th:text="${lineItem.total}">$100.00</td>
                    </tr>

                    <tr>
                        <td colspan="6" class="alignR">Total products:</td>
                        <td th:text="${subTotal}" class="label label-primary"> $448.42</td>
                    </tr>
                    </tbody>
                </table>
                <br/>


                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>
                            <form class="form-inline">
                                <label style="min-width:159px"> VOUCHERS Code: </label>
                                <input type="text" class="input-medium" placeholder="CODE">
                                <button type="submit" class="shopBtn"> ADD</button>
                            </form>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>ESTIMATE YOUR SHIPPING & TAXES</td>
                    </tr>
                    <tr>
                        <td>
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="span2 control-label" for="inputEmail">Country</label>
                                    <div class="controls">
                                        <input type="text" placeholder="Country">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="span2 control-label" for="inputPassword">Post Code/ Zipcode</label>
                                    <div class="controls">
                                        <input type="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="shopBtn">Click to check the price</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a th:href="@{products}" class="shopBtn btn-large"><span class="icon-arrow-left"></span> Continue
                    Shopping </a>
                <a th:href="@{login}" class="shopBtn btn-large pull-right">Next <span
                        class="icon-arrow-right"></span></a>

            </div>
        </div>
    </div>

    <!--
    Client
    -->
    <section th:replace="fragments/footer :: our_client" class="our_client">
    </section>

    <!--
    Footer
    -->
    <footer th:replace="fragments/footer :: footer" class="footer">
    </footer>
</div><!-- /container -->

<div th:replace="fragments/footer :: copyright" class="copyright">
</div>

<script th:replace="fragments/footer :: scripts"></script>

</body>
</html>
