<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">
</head>

<body>

<!-- 
	Upper Header Section 
-->
<div th:replace="fragments/header :: upper_header" class="navbar navbar-inverse navbar-fixed-top">
</div>

<!--
Lower Header Section 
-->
<div class="container">
    <div id="gototop"></div>
    <header th:replace="fragments/header :: lower_header" id="header">
    </header>

    <!--
    Navigation Bar Section
    -->
    <div th:replace="fragments/header :: navbar" class="navbar">
    </div>
    <!--
    Body Section
    -->
    <div class="row">
        <div th:replace="fragments/sidebar ::sidebar" id="sidebar" class="span3">
        </div>

        <div class="span9">
            <!--
            New Products
            -->
            <div class="well well-small">
                <h3>Our Products </h3>
                <div th:each="prodGroup : ${products}" class="row-fluid">
                    <ul class="thumbnails">
                        <li th:each="prod : ${prodGroup}" class="span4">
                            <div class="thumbnail">
                                <a href="product_details.html" class="overlay"></a>
                                <a class="zoomTool" th:href="@{/product_details/{id}(id=${prod.id})}" title="add to cart"><span
                                        class="icon-search"></span> QUICK VIEW</a>
                                <a th:href="@{/product_details/{id}(id=${prod.id})}">
                                    <img th:src="@{/picture/{id}(id=${prod.pictureIds[0]})}" alt="">
                                </a>
                                <div class="caption cntr">
                                    <p th:text="${prod.name}">Manicure & Pedicure</p>
                                    <p><strong th:text="${prod.price}"> $22.00</strong></p>
                                    <h4>
                                        <form th:action="@{/cart}" method="post">
                                            <input type="hidden" name="qty" value="1"/>
                                            <input type="hidden" name="productId" th:value="${prod.id}">
                                            <button class="shopBtn" type="submit" title="add to cart"> Add to cart </button>
                                        </form>
                                    </h4>
                                    <div class="actionList">
                                        <a class="pull-left" href="#">Add to Wish List </a>
                                        <a class="pull-left" href="#"> Add to Compare </a>
                                    </div>
                                    <br class="clr">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!--
    Clients
    -->
    <section th:replace="fragments/footer :: our_client" class="our_client">
    </section>

    <!--
    Footer
    -->
    <footer th:replace="fragments/footer :: footer" class="footer">
    </footer>
</div><!-- /container -->

<div th:replace="fragments/footer :: copyright" class="copyright">
</div>

<script th:replace="fragments/footer :: scripts"></script>

</body>
</html>